:root{
  --chat-body:#242526;
  --chat-black:#3A3B3C;
  --chat-blue:#4682B4;
  --chat-text-color:#E4E6EB;
}
.chat_box{
  max-width: 500px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin:auto;
  background-color: var(--chat-body);
}
.chat_header{
height: 30px;
padding: 10px;
box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
background-color: var(--chat-black);
display: flex;
align-items: center;
justify-content: center;
}
.chat_container{
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 5px 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  padding-bottom: 10px;
}
.chat_container::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
.chat_footer{
  display: flex;
  margin-top: auto;
  height: 30px;
  padding: 10px;
  box-shadow: 0 -3px 5px rgba(57, 63, 72, 0.3);
  background-color: var(--chat-black);

}
.chat_header_text{
  font-weight: 600;
  color: var(--chat-text-color); 
}
.message_box{
  width:100%;
  margin: 5px 5px;
  display: flex;
}
.bot_message_box{
justify-content: flex-start;
}
.user_message_box{
justify-content: flex-end;
}
.message_container{
  max-width: 80%;
  border-radius: 5px;
  padding: 5px;
  min-width: 100px;
}
.bot_message_container{
  background-color: var(--chat-black);

}
.user_message_container{
  background-color: var(--chat-blue);
}

.chat_input{
  background-color: transparent;
  border: 1px solid #aaa;
  border-radius: 5px;
  color:var(--chat-text-color);
  outline: none;
  padding: 5px;
  width: 70%;
}
::placeholder{
  color: var(--chat-text-color);
}
.message_label{
  margin-bottom: 5px;
  color: var(--chat-text-color);
  font-weight: 600;
  font-size: 1.1rem;
}
.message_text{
  color: var(--chat-text-color);
  font-size: 1rem;
}
.send_button {
  background: var(--chat-blue);
  border-radius: 999px;
  box-shadow: var(--chat-black) 0 10px 20px -10px;
  box-sizing: border-box;
  color: var(--chat-text-color);
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  margin-left: 20px;
}

.typing_message{
position: fixed;
color: var(--chat-text-color);
bottom: 50px;
}